In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import string
import time
import datetime
from datetime import datetime
from datetime import date
from scipy.stats import linregress

In [4]:
#Read file
plane = pd.read_csv('Airplane_Crashes_and_Fatalities.csv')
plane.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

In [5]:
#Add column year and extract data from Date.
Year = ""
plane['Year'] = pd.DatetimeIndex(plane.Date).year
plane.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Year
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...",1908
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,1909
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,1912
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,1913
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,1913

In [6]:
#break data down by year
year = plane[(plane.Year >= 1980) & (plane.Year <= 2019)]
year.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Year
3047,01/02/1980,NaN,Haiti,Haïti Air Inter,NaN,Port au Prince - Cape Haitien,Britten Norman BN Islander,HH-CNC,474,9.0,8.0,1.0,9.0,8.0,1.0,0.0,Struck high ground in poor visibility while en...,1980
3048,01/11/1980,01:23,Over the Atlantic Ocean,Private charter,NaN,Shreveport - Baton Rouge,Cessna 441 Conquest,N442NC,NaN,2.0,1.0,1.0,2.0,1.0,1.0,0.0,The plane was on a 45 minute fight from Shreve...,1980
3049,01/14/1980,14:00,"Shungnak, Alaska",Ambler Air Service,NaN,"Ambler, AK - Kobuk, AK",Cessna 185A,N1690Z,185-0490,9.0,8.0,1.0,7.0,6.0,1.0,0.0,Crashed. Continued VFR flight into adverse wea...,1980
3050,01/21/1980,19:10,"Elburz Mtns., near Tehran, Iran",Iran Air,NaN,Babol Sar - Tehran,Boeing B-727-86,EP-IRD,19817/537,128.0,120.0,8.0,128.0,120.0,8.0,0.0,The aircraft crashed into a mountain during a ...,1980
3051,01/23/1980,NaN,"Mt. Cemonyet, Indonesia",Pelita Air Service,NaN,Bandung - Jakarta,CASA 212 Aviocar 100,PK-PCX,45/3N,13.0,10.0,3.0,13.0,10.0,3.0,0.0,"Hit high ground at 2,700 ft. in poor weather w...",1980

In [7]:
# Remove words [Off, Near, the, Over]
words = ["Near", "Off", "the", "Over", "near"]
for word in words:
    year.Location = year.Location.str.replace(word, "")

In [8]:
#Display Results
year.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Year
3047,01/02/1980,NaN,Haiti,Haïti Air Inter,NaN,Port au Prince - Cape Haitien,Britten Norman BN Islander,HH-CNC,474,9.0,8.0,1.0,9.0,8.0,1.0,0.0,Struck high ground in poor visibility while en...,1980
3048,01/11/1980,01:23,Atlantic Ocean,Private charter,NaN,Shreveport - Baton Rouge,Cessna 441 Conquest,N442NC,NaN,2.0,1.0,1.0,2.0,1.0,1.0,0.0,The plane was on a 45 minute fight from Shreve...,1980
3049,01/14/1980,14:00,"Shungnak, Alaska",Ambler Air Service,NaN,"Ambler, AK - Kobuk, AK",Cessna 185A,N1690Z,185-0490,9.0,8.0,1.0,7.0,6.0,1.0,0.0,Crashed. Continued VFR flight into adverse wea...,1980
3050,01/21/1980,19:10,"Elburz Mtns., Tehran, Iran",Iran Air,NaN,Babol Sar - Tehran,Boeing B-727-86,EP-IRD,19817/537,128.0,120.0,8.0,128.0,120.0,8.0,0.0,The aircraft crashed into a mountain during a ...,1980
3051,01/23/1980,NaN,"Mt. Cemonyet, Indonesia",Pelita Air Service,NaN,Bandung - Jakarta,CASA 212 Aviocar 100,PK-PCX,45/3N,13.0,10.0,3.0,13.0,10.0,3.0,0.0,"Hit high ground at 2,700 ft. in poor weather w...",1980

In [9]:
#Break remove unwanted columns, add Crash ID as primary key. 
Crash_Id = range(1920)
New = year[['Date', 'Location', 'Aboard', 'Fatalities','Summary', 'Year']]
New["Crash Id"]= Crash_Id
New.set_index('Crash Id', inplace=True)
New

,Date,Location,Aboard,Fatalities,Summary,Year
Crash Id,,,,,,
0,01/02/1980,Haiti,9.0,9.0,Struck high ground in poor visibility while en...,1980
1,01/11/1980,Atlantic Ocean,2.0,2.0,The plane was on a 45 minute fight from Shreve...,1980
2,01/14/1980,"Shungnak, Alaska",9.0,7.0,Crashed. Continued VFR flight into adverse wea...,1980
3,01/21/1980,"Elburz Mtns., Tehran, Iran",128.0,128.0,The aircraft crashed into a mountain during a ...,1980
4,01/23/1980,"Mt. Cemonyet, Indonesia",13.0,13.0,"Hit high ground at 2,700 ft. in poor weather w...",1980
...,...,...,...,...,...,...
1915,04/16/2019,"Puerto Montt, Chile",6.0,6.0,"While the aircraft was in the initial climb, p...",2019
1916,05/05/2019,"Monclava, Mexico",13.0,13.0,The aircraft crashed while en route on a retur...,2019
1917,05/05/2019,"Moscow, Russia",78.0,41.0,Forty-five minutes after taking off from Mosco...,2019
1918,06/03/2019,"Lipo, India",13.0,13.0,Crashed about 34km WNW of Mechuka.,2019
1919,07/30/2019,"Rawalpindi, India",5.0,5.0,"The Pakistani military plane, on a training fl...",2019

In [10]:
#extract Cities from Location column
def City(s):
    placeholder = s.find(',',0)
    ax = s[0:placeholder]
    if placeholder == (-1):
        return s 
    else:
        return ax

In [11]:
#display example
City('Shungnak, Alaska')

'Shungnak'

In [12]:
#identity and apply extraccted Data
New['City'] = New.Location.apply(City)
x = New[['Date', 'Location', 'City', 'Aboard', 'Fatalities', 'Summary', 'Year']]

In [13]:
#remove trailing spaces
x.City = x.City.str.strip()

In [14]:
#export to csv
x.to_csv('plane_crash.csv')

In [15]:
# display updates
x.head()

,Date,Location,City,Aboard,Fatalities,Summary,Year
Crash Id,,,,,,,
0,01/02/1980,Haiti,Haiti,9.0,9.0,Struck high ground in poor visibility while en...,1980
1,01/11/1980,Atlantic Ocean,Atlantic Ocean,2.0,2.0,The plane was on a 45 minute fight from Shreve...,1980
2,01/14/1980,"Shungnak, Alaska",Shungnak,9.0,7.0,Crashed. Continued VFR flight into adverse wea...,1980
3,01/21/1980,"Elburz Mtns., Tehran, Iran",Elburz Mtns.,128.0,128.0,The aircraft crashed into a mountain during a ...,1980
4,01/23/1980,"Mt. Cemonyet, Indonesia",Mt. Cemonyet,13.0,13.0,"Hit high ground at 2,700 ft. in poor weather w...",1980

In [16]:
#list dates
dates = x.Date.to_list()
print(dates)

/1989', '06/18/1989', '06/22/1989', '06/27/1989', '06/28/1989', '06/28/1989', '06/29/1989', '07/19/1989', '07/19/1989', '07/19/1989', '07/21/1989', '07/21/1989', '07/23/1989', '07/26/1989', '07/27/1989', '07/27/1989', '07/31/1989', '08/03/1989', '08/07/1989', '08/08/1989', '08/13/1989', '08/15/1989', '08/25/1989', '09/03/1989', '09/03/1989', '09/08/1989', '09/15/1989', '09/15/1989', '09/19/1989', '09/20/1989', '09/20/1989', '09/21/1989', '09/21/1989', '09/23/1989', '09/26/1989', '09/27/1989', '09/28/1989', '10/04/1989', '10/06/1989', '10/10/1989', '10/10/1989', '10/18/1989', '10/20/1989', '10/21/1989', '10/26/1989', '10/26/1989', '10/28/1989', '11/09/1989', '11/10/1989', '11/21/1989', '11/23/1989', '11/25/1989', '11/27/1989', '11/27/1989', '11/28/1989', '11/28/1989', '12/01/1989', '12/21/1989', '12/26/1989', '12/28/1989', '12/30/1989', '01/02/1990', '01/13/1990', '01/15/1990', '01/17/1990', '01/23/1990', '01/25/1990', '01/25/1990', '01/26/1990', '01/27/1990', '01/29/1990', '01/29/1990', '02/05/1990', '02/12/1990', '02/14/1990', '02/17/1990', '02/27/1990', '03/01/1990', '03/12/1990', '03/21/1990', '03/23/1990', '03/27/1990', '03/27/1990', '04/12/1990', '04/18/1990', '04/20/1990', '04/26/1990', '04/30/1990', '04/30/1990', '05/05/1990', '05/10/1990', '05/11/1990', '05/11/1990', '05/18/1990', '06/06/1990', '06/06/1990', '06/10/1990', '07/05/1990', '07/27/1990', '07/31/1990', '08/01/1990', '08/10/1990', '08/27/1990', '08/29/1990', '09/03/1990', '09/11/1990', '09/12/1990', '09/14/1990', '09/20/1990', '09/24/1990', '10/02/1990', '10/03/1990', '10/19/1990', '10/24/1990', '11/14/1990', '11/18/1990', '11/19/1990', '11/21/1990', '11/25/1990', '12/03/1990', '12/04/1990', '12/06/1990', '01/10/1991', '01/30/1991', '01/31/1991', '02/01/1991', '02/05/1991', '02/14/1991', '02/17/1991', '02/20/1991', '02/22/1991', '03/03/1991', '03/05/1991', '03/16/1991', '03/16/1991', '03/21/1991', '03/21/1991', '03/23/1991', '03/25/1991', '04/04/1991', '04/04/1991', '04/05/1991', '04/19/1991', '05/09/1991', '05/13/1991', '05/15/1991', '05/23/1991', '05/24/1991', '05/26/1991', '06/01/1991', '06/10/1991', '06/20/1991', '06/26/1991', '06/26/1991', '07/04/1991', '07/09/1991', '07/10/1991', '07/11/1991', '07/25/1991', '08/06/1991', '08/14/1991', '08/16/1991', '08/20/1991', '08/28/1991', '09/03/1991', '09/04/1991', '09/11/1991', '09/16/1991', '09/17/1991', '09/18/1991', '09/23/1991', '09/26/1991', '09/27/1991', '09/29/1991', '10/05/1991', '10/13/1991', '10/25/1991', '10/25/1991', '10/30/1991', '11/01/1991', '11/07/1991', '11/11/1991', '11/16/1991', '11/20/1991', '11/20/1991', '11/25/1991', '11/26/1991', '11/29/1991', '12/22/1991', '12/27/1991', '12/29/1991', '01/20/1992', '01/28/1992', '02/03/1992', '02/09/1992', '02/15/1992', '02/20/1992', '03/02/1992', '03/12/1992', '03/22/1992', '03/24/1992', '04/04/1992', '04/07/1992', '04/10/1992', '04/14/1992', '04/16/1992', '04/22/1992', '04/22/1992', '04/26/1992', '06/06/1992', '06/07/1992', '06/22/1992', '06/22/1992', '07/05/1992', '07/13/1992', '07/14/1992', '07/14/1992', '07/20/1992', '07/24/1992', '07/24/1992', '07/27/1992', '07/30/1992', '07/31/1992', '07/31/1992', '08/21/1992', '08/25/1992', '08/27/1992', '08/27/1992', '08/27/1992', '08/31/1992', '09/10/1992', '09/12/1992', '09/16/1992', '09/18/1992', '09/19/1992', '09/21/1992', '09/26/1992', '09/28/1992', '10/04/1992', '10/07/1992', '10/08/1992', '10/09/1992', '10/18/1992', '10/19/1992', '10/21/1992', '10/29/1992', '11/11/1992', '11/11/1992', '11/14/1992', '11/15/1992', '11/24/1992', '11/30/1992', '12/09/1992', '12/13/1992', '12/14/1992', '12/21/1992', '12/22/1992', '01/03/1993', '01/06/1993', '01/09/1993', '01/13/1993', '01/14/1993', '01/27/1993', '01/31/1993', '02/08/1993', '02/10/1993', '02/20/1993', '02/28/1993', '03/05/1993', '03/23/1993', '03/31/1993', '04/01/1993', '04/02/1993', '04/06/1993', '04/19/1993', '04/23/1993', '04/26/1993', '04/27/1993', '04/27/1993', '05/11/1993', '05/15/1993', '05/19/1993', '06/06/1993', '06/09/1993', '06/16/1993', '06/17/1993', '07/01/1993', '07/06/1993', '07/12/1993', '07/23/1993', '07/26/1993', '07/30/1993', '07/31/1993', '08/18/1993', '08/26/1993', '08/28/1993', '09/14/1993', '09/21/1993', '09/22/1993', '10/04/1993', '10/25/1993', '10/26/1993', '10/27/1993', '11/10/1993', '11/13/1993', '11/15/1993', '11/20/1993', '12/01/1993', '12/03/1993', '12/09/1993', '12/13/1993', '12/15/1993', '12/26/1993', '01/03/1994', '01/07/1994', '02/24/1994', '02/25/1994', '02/25/1994', '03/02/1994', '03/08/1994', '03/14/1994', '03/17/1994', '03/18/1994', '03/18/1994', '03/21/1994', '03/23/1994', '04/03/1994', '04/04/1994', '04/06/1994', '04/06/1994', '04/14/1994', '04/25/1994', '04/26/1994', '05/07/1994', '05/23/1994', '05/28/1994', '06/02/1994', '06/06/1994', '06/13/1994', '06/18/1994', '06/18/1994', '06/26/1994', '06/29/1994', '06/30/1994', '07/01/1994', '07/02/1994', '07/14/1994', '07/17/1994', '07/17/1994', '07/19/1994', '07/26/1994', '08/05/1994', '08/07/1994', '08/10/1994', '08/11/1994', '08/12/1994', '08/21/1994', '09/08/1994', '09/13/1994', '09/17/1994', '09/18/1994', '09/23/1994', '09/26/1994', '09/28/1994', '09/30/1994', '10/08/1994', '10/12/1994', '10/14/1994', '10/26/1994', '10/29/1994', '10/29/1994', '10/31/1994', '11/01/1994', '11/04/1994', '11/05/1994', '11/16/1994', '11/22/1994', '11/22/1994', '11/25/1994', '12/10/1994', '12/13/1994', '12/15/1994', '12/17/1994', '12/17/1994', '12/21/1994', '12/26/1994', '12/29/1994', '01/05/1995', '01/10/1995', '01/11/1995', '01/14/1995', '01/17/1995', '01/20/1995', '01/20/1995', '02/16/1995', '03/16/1995', '03/31/1995', '04/23/1995', '04/29/1995', '05/01/1995', '05/03/1995', '05/09/1995', '05/13/1995', '05/24/1995', '05/25/1995', '05/29/1995', '06/09/1995', '06/16/1995', '06/16/1995', '06/17/1995', '06/24/1995', '06/27/1995', '07/01/1995', '07/12/1995', '07/17/1995', '07/18/1995', '07/25/1995', '08/02/1995', '08/09/1995', '08/09/1995', '08/14/1995', '08/21/1995', '09/01/1995', '09/02/1995', '09/02/1995', '09/09/1995', '09/11/1995', '09/12/1995', '09/15/1995', '09/21/1995', '09/22/1995', '09/24/1995', '09/27/1995', '10/03/1995', '10/04/1995', '11/09/1995', '11/13/1995', '11/22/1995', '11/29/1995', '11/30/1995', '12/03/1995', '12/05/1995', '12/07/1995', '12/13/1995', '12/18/1995', '12/20/1995', '12/22/1995', '01/08/1996', '01/08/1996', '01/18/1996', '01/22/1996', '02/04/1996', '02/05/1996', '02/06/1996', '02/11/1996', '02/12/1996', '02/26/1996', '02/27/1996', '02/29/1996', '03/09/1996', '03/12/1996', '04/03/1996', '04/05/1996', '04/05/1996', '04/11/1996', '05/03/1996', '05/09/1996', '05/10/1996', '05/11/1996', '05/11/1996', '05/19/1996', '06/06/1996', '06/09/1996', '06/12/1996', '06/13/1996', '06/21/1996', '07/06/1996', '07/09/1996', '07/11/1996', '07/15/1996', '07/17/1996', '07/17/1996', '07/20/1996', '07/24/1996', '08/12/1996', '08/14/1996', '08/17/1996', '08/18/1996', '08/19/1996', '08/29/1996', '09/25/1996', '10/02/1996', '10/03/1996', '10/06/1996', '10/08/1996', '10/22/1996', '10/26/1996', '10/31/1996', '11/01/1996', '11/07/1996', '11/07/1996', '11/12/1996', '11/14/1996', '11/19/1996', '11/22/1996', '11/23/1996', '11/27/1996', '11/30/1996', '12/07/1996', '12/09/1996', '12/17/1996', '12/21/1996', '12/22/1996', '12/24/1996', '12/24/1996', '01/07/1997', '01/09/1997', '01/29/1997', '01/31/1997', '02/01/1997', '02/02/1997', '02/04/1997', '02/14/1997', '02/19/1997', '03/12/1997', '03/13/1997', '03/18/1997', '04/01/1997', '04/04/1997', '04/10/1997', '04/14/1997', '04/15/1997', '04/16/1997', '04/19/1997', '04/23/1997', '05/08/1997', '06/06/1997', '06/10/1997', '07/03/1997', '07/06/1997', '07/09/1997', '07/11/1997', '07/17/1997', '07/18/1997', '07/29/1997', '07/30/1997', '08/06/1997', '08/07/1997', '08/10/1997', '08/29/1997', '09/03/1997', '09/06/1997', '09/12/1997', '09/13/1997', '09/26/1997', '10/08/1997', '10/10/1997', '10/10/1997', '10/12/1997', '10/29/1997', '11/08/1997', '12/05/1997', '12/09/1997', '12/13/1997', '12/15/1997', '12/17/1997', '12/19/1997', '12/20/1997', '12/27/1997', '12/28/1997', '12/31/1997', '01/13/1998', '01/13/1998', '01/27/1998', '02/02/1998', '02/03/1998', '02/04/1998', '02/05/1998', '02/12/1998', '02/16/1998', '03/10/1998', '03/18/1998', '03/19/1998', '03/22/1998', '03/28/1998', '03/31/1998', '04/20/1998', '05/05/1998', '05/12/1998', '05/25/1998', '05/25/1998', '05/26/1998', '06/18/1998', '06/25/1998', '07/13/1998', '07/16/1998', '07/17/1998', '07/23/1998', '07/27/1998', '07/28/1998', '07/29/1998', '07/30/1998', '07/30/1998', '08/04/1998', '08/11/1998', '08/19/1998', '08/21/1998', '08/24/1998', '08/24/1998', '08/29/1998', '09/02/1998', '09/02/1998', '09/09/1998', '09/10/1998', '09/25/1998', '09/28/1998', '09/29/1998', '10/02/1998', '10/10/1998', '10/21/1998', '10/25/1998', '11/01/1998', '11/11/1998', '11/21/1998', '12/07/1998', '12/11/1998', '12/14/1998', '12/17/1998', '12/22/1998', '12/26/1998', '01/02/1999', '01/12/1999', '01/13/1999', '01/13/1999', '01/16/1999', '01/21/1999', '02/02/1999', '02/03/1999', '02/08/1999', '02/24/1999', '02/25/1999', '03/07/1999', '03/18/1999', '03/19/1999', '04/07/1999', '04/07/1999', '04/08/1999', '04/15/1999', '05/08/1999', '05/24/1999', '05/29/1999', '06/01/1999', '06/03/1999', '06/09/1999', '06/09/1999', '06/17/1999', '06/25/1999', '07/01/1999', '07/02/1999', '07/04/1999', '07/07/1999', '07/09/1999', '07/16/1999', '07/23/1999', '07/23/1999', '07/24/1999', '08/07/1999', '08/22/1999', '08/24/1999', '08/26/1999', '08/31/1999', '09/05/1999', '09/14/1999', '09/14/1999', '09/14/1999', '09/17/1999', '10/02/1999', '10/24/1999', '10/25/1999', '10/31/1999', '11/09/1999', '11/12/1999', '12/05/1999', '12/07/1999', '12/10/1999', '12/11/1999', '12/21/1999', '12/22/1999', '12/24/1999', '12/25/1999', '12/25/1999', '12/29/1999', '01/05/2000', '01/10/2000', '01/13/2000', '01/15/2000', '01/30/2000', '01/31/2000', '02/02/2000', '02/16/2000', '03/05/2000', '03/09/2000', '03/17/2000', '03/17/2000', '03/22/2000', '03/24/2000', '03/25/2000', '03/30/2000', '04/05/2000', '04/19/2000', '04/19/2000', '04/29/2000', '05/02/2000', '05/03/2000', '05/10/2000', '05/17/2000', '05/21/2000', '05/25/2000', '05/31/2000', '06/05/2000', '06/22/2000', '06/23/2000', '06/27/2000', '07/02/2000', '07/08/2000', '07/09/2000', '07/13/2000', '07/17/2000', '07/19/2000', '07/20/2000', '07/21/2000', '07/25/2000', '07/26/2000', '07/27/2000', '08/02/2000', '08/06/2000', '08/09/2000', '08/12/2000', '08/23/2000', '09/02/2000', '09/04/2000', '09/16/2000', '10/06/2000', '10/08/2000', '10/10/2000', '10/16/2000', '10/19/2000', '10/25/2000', '10/31/2000', '10/31/2000', '11/07/2000', '11/09/2000', '11/15/2000', '11/20/2000', '12/11/2000', '01/04/2001', '01/08/2001', '01/23/2001', '01/25/2001', '01/27/2001', '01/31/2001', '02/08/2001', '02/08/2001', '02/10/2001', '02/27/2001', '03/03/2001', '03/03/2001', '03/15/2001', '03/24/2001', '03/26/2001', '03/29/2001', '04/04/2001', '04/07/2001', '04/28/2001', '05/16/2001', '05/17/2001', '05/17/2001', '05/22/2001', '06/15/2001', '07/04/2001', '07/05/2001', '07/12/2001', '07/14/2001', '08/05/2001', '08/10/2001', '08/23/2001', '08/24/2001', '08/24/2001', '08/29/2001', '09/11/2001', '09/11/2001', '09/11/2001', '09/11/2001', '09/12/2001', '09/15/2001', '09/18/2001', '10/04/2001', '10/08/2001', '10/08/2001', '10/10/2001', '10/10/2001', '10/11/2001', '10/18/2001', '11/12/2001', '11/19/2001', '11/22/2001', '11/23/2001', '11/24/2001', '11/27/2001', '12/01/2001', '12/14/2001', '12/16/2001', '12/26/2001', '01/04/2002', '01/09/2002', '01/14/2002', '01/15/2002', '01/16/2002', '01/17/2002', '01/27/2002', '01/28/2002', '02/12/2002', '02/15/2002', '02/21/2002', '02/22/2002', '03/09/2002', '03/14/2002', '03/17/2002', '04/12/2002', '04/15/2002', '04/19/2002', '04/28/2002', '05/04/2002', '05/07/2002', '05/07/2002', '05/21/2002', '05/25/2002', '05/25/2002', '06/01/2002', '06/02/2002', '06/12/2002', '07/01/2002', '07/04/2002', '07/16/2002', '07/16/2002', '07/17/2002', '07/27/2002', '07/28/2002', '08/07/2002', '08/15/2002', '08/19/2002', '08/22/2002', '08/29/2002', '08/30/2002', '09/14/2002', '09/28/2002', '10/01/2002', '11/06/2002', '11/07/2002', '11/08/2002', '11/11/2002', '11/28/2002', '12/13/2002', '12/17/2002', '12/21/2002', '12/23/2002', '12/26/2002', '12/27/2002', '01/08/2003', '01/08/2003', '01/09/2003', '01/17/2003', '01/24/2003', '01/31/2003', '02/07/2003', '02/10/2003', '02/16/2003', '02/19/2003', '02/20/2003', '03/01/2003', '03/06/2003', '03/27/2003', '03/28/2003', '05/08/2003', '05/26/2003', '05/28/2003', '06/01/2003', '06/04/2003', '06/06/2003', '06/11/2003', '06/15/2003', '06/22/2003', '06/25/2003', '06/25/2003', '06/26/2003', '06/30/2003', '07/01/2003', '07/05/2003', '07/08/2003', '07/13/2003', '07/13/2003', '07/19/2003', '07/23/2003', '08/04/2003', '08/08/2003', '08/17/2003', '08/20/2003', '08/24/2003', '08/26/2003', '09/11/2003', '09/19/2003', '09/19/2003', '09/20/2003', '09/27/2003', '10/03/2003', '10/03/2003', '10/11/2003', '10/26/2003', '10/27/2003', '10/29/2003', '11/02/2003', '11/08/2003', '11/08/2003', '11/15/2003', '11/29/2003', '11/29/2003', '12/16/2003', '12/18/2003', '12/23/2003', '12/25/2003', '01/03/2004', '01/13/2004', '02/06/2004', '02/10/2004', '03/04/2004', '03/16/2004', '03/21/2004', '05/02/2004', '05/05/2004', '05/06/2004', '05/11/2004', '05/14/2004', '05/18/2004', '05/18/2004', '05/23/2004', '05/25/2004', '06/08/2004', '06/28/2004', '07/12/2004', '07/22/2004', '07/29/2004', '08/13/2004', '08/21/2004', '08/24/2004', '08/24/2004', '08/27/2004', '09/09/2004', '09/11/2004', '09/29/2004', '10/05/2004', '10/14/2004', '10/14/2004', '10/15/2004', '10/16/2004', '10/19/2004', '10/24/2004', '10/24/2004', '11/18/2004', '11/21/2004', '11/22/2004', '11/27/2004', '11/28/2004', '11/30/2004', '12/10/2004', '12/11/2004', '12/11/2004', '01/13/2005', '01/13/2005', '01/13/2005', '01/26/2005', '01/27/2005', '01/30/2005', '02/03/2005', '02/03/2005', '02/16/2005', '02/22/2005', '02/22/2005', '03/08/2005', '03/15/2005', '03/16/2005', '03/23/2005', '03/26/2005', '03/31/2005', '04/12/2005', '04/20/2005', '04/21/2005', '04/28/2005', '05/02/2005', '05/05/2005', '05/07/2005', '05/16/2005', '05/18/2005', '05/25/2005', '06/02/2005', '07/16/2005', '08/02/2005', '08/06/2005', '08/10/2005', '08/14/2005', '08/16/2005', '08/23/2005', '09/05/2005', '09/05/2005', '09/09/2005', '10/04/2005', '10/22/2005', '12/06/2005', '12/08/2005', '12/10/2005', '12/19/2005', '12/23/2005', '01/02/2006', '01/07/2006', '01/08/2006', '01/09/2006', '01/19/2006', '02/05/2006', '02/08/2006', '03/31/2006', '04/10/2006', '04/23/2006', '04/24/2006', '05/03/2006', '05/14/2006', '05/23/2006', '06/03/2006', '06/11/2006', '06/21/2006', '07/07/2006', '07/09/2006', '07/10/2006', '07/27/2006', '08/03/2006', '08/04/2006', '08/13/2006', '08/22/2006', '08/27/2006', '09/01/2006', '09/02/2006', '09/11/2006', '09/17/2006', '09/29/2006', '10/10/2006', '10/19/2006', '10/29/2006', '11/17/2006', '11/18/2006', '11/27/2006', '12/10/2006', '01/01/2007', '01/09/2007', '01/20/2007', '01/25/2007', '03/07/2007', '03/08/2007', '03/11/2007', '03/14/2007', '03/17/2007', '03/23/2007', '04/25/2007', '04/27/2007', '05/05/2007', '05/06/2007', '05/17/2007', '05/24/2007', '06/03/2007', '06/04/2007', '06/13/2007', '06/21/2007', '06/25/2007', '06/28/2007', '07/05/2007', '07/08/2007', '07/17/2007', '07/23/2007', '07/24/2007', '07/29/2007', '08/09/2007', '08/16/2007', '08/20/2007', '08/22/2007', '08/22/2007', '08/26/2007', '09/07/2007', '09/16/2007', '09/24/2007', '10/04/2007', '10/08/2007', '11/08/2007', '11/30/2007', '12/03/2007', '12/05/2007', '01/04/2008', '01/12/2008', '01/17/2008', '01/23/2008', '01/26/2008', '02/21/2008', '02/26/2008', '03/03/2008', '04/03/2008', '04/09/2008', '04/11/2008', '04/15/2008', '04/16/2008', '04/28/2008', '05/17/2008', '05/24/2008', '05/26/2008', '05/29/2008', '05/30/2008', '06/08/2008', '06/10/2008', '06/18/2008', '06/20/2008', '06/26/2008', '06/27/2008', '06/29/2008', '06/30/2008', '07/06/2008', '07/07/2008', '07/31/2008', '08/03/2008', '08/05/2008', '08/06/2008', '08/13/2008', '08/20/2008', '08/24/2008', '08/30/2008', '09/01/2008', '09/03/2008', '09/14/2008', '09/19/2008', '09/27/2008', '10/08/2008', '10/15/2008', '11/13/2008', '11/16/2008', '11/27/2008', '12/03/2008', '12/11/2008', '12/15/2008', '01/01/2009', '01/04/2009', '01/15/2009', '01/15/2009', '02/07/2009', '02/12/2009', '02/15/2009', '02/20/2009', '02/25/2009', '03/09/2009', '03/12/2009', '03/22/2009', '03/23/2009', '04/01/2009', '04/06/2009', '04/09/2009', '04/29/2009', '05/03/2009', '05/20/2009', '05/26/2009', '06/01/2009', '06/07/2009', '06/08/2009', '06/29/2009', '06/30/2009', '07/03/2009', '07/15/2009', '07/19/2009', '07/24/2009', '08/02/2009', '08/04/2009', '08/08/2009', '08/11/2009', '08/26/2009', '09/08/2009', '09/24/2009', '09/25/2009', '10/17/2009', '10/21/2009', '10/22/2009', '11/01/2009', '11/01/2009', '11/12/2009', '11/14/2009', '11/28/2009', '11/29/2009', '01/22/2010', '01/25/2010', '01/25/2010', '01/28/2010', '02/14/2010', '04/10/2010', '04/10/2010', '04/13/2010', '04/21/2010', '05/12/2010', '05/15/2010', '05/17/2010', '05/22/2010', '06/19/2010', '06/23/2010', '07/05/2010', '07/28/2010', '07/28/2010', '08/01/2010', '08/03/2010', '08/09/2010', '08/16/2010', '08/21/2010', '08/24/2010', '08/24/2010', '08/25/2010', '08/27/2010', '09/03/2010', '09/04/2010', '09/13/2010', '09/21/2010', '10/06/2010', '10/12/2010', '10/21/2010', '11/04/2010', '11/05/2010', '11/25/2010', '11/28/2010', '12/04/2010', '12/15/2010', '01/01/2011', '01/09/2011', '02/08/2011', '02/10/2011', '02/14/2011', '03/21/2011', '04/04/2011', '04/19/2011', '04/21/2011', '05/07/2011', '05/18/2011', '06/20/2011', '07/06/2011', '07/08/2011', '07/11/2011', '07/13/2011', '07/26/2011', '07/28/2011', '08/06/2011', '08/09/2011', '08/20/2011', '08/26/2011', '09/02/2011', '09/06/2011', '09/07/2011', '09/14/2011', '09/16/2011', '09/22/2011', '09/25/2011', '09/29/2011', '10/13/2011', '10/27/2011', '11/10/2011', '11/11/2011', '12/07/2011', '12/26/2011', '01/30/2012', '03/15/2012', '03/16/2012', '04/02/2012', '04/20/2012', '04/30/2012', '05/09/2012', '05/14/2012', '06/02/2012', '06/03/2012', '06/06/2012', '06/11/2012', '06/21/2012', '08/18/2012', '08/19/2012', '09/12/2012', '09/28/2012', '10/07/2012', '10/07/2012', '11/21/2012', '11/30/2012', '12/05/2012', '12/09/2012', '12/25/2012', '12/25/2012', '12/29/2012', '01/02/2013', '01/04/2013', '01/29/2013', '02/13/2013', '03/04/2013', '03/08/2013', '04/13/2013', '04/29/2013', '05/31/2013', '06/25/2013', '07/06/2013', '07/07/2013', '08/09/2013', '08/14/2013', '10/03/2013', '10/10/2013', '10/16/2013', '11/03/2013', '11/09/2013', '11/10/2013', '11/17/2013', '11/29/2013', '11/29/2013', '12/05/2013', '12/26/2013', '01/20/2014', '02/11/2014', '02/16/2014', '02/21/2014', '03/08/2014', '03/18/2014', '04/19/2014', '04/20/2014', '05/08/2014', '05/17/2014', '06/14/2014', '07/02/2014', '07/07/2014', '07/17/2014', '07/23/2014', '07/24/2014', '08/10/2014', '08/30/2014', '08/31/2014', '09/20/2014', '10/04/2014', '12/28/2014', '12/28/2014', '01/18/2015', '02/04/2015', '03/10/2015', '03/24/2015', '06/25/2015', '06/30/2015', '07/31/2015', '08/12/2015', '08/16/2015', '09/05/2015', '09/15/2015', '10/02/2015', '10/02/2015', '10/31/2015', '10/31/2015', '11/04/2015', '11/21/2015', '11/24/2015', '01/08/2016', '02/02/2016', '02/24/2016', '02/26/2016', '03/09/2016', '03/15/2016', '03/19/2016', '03/29/2016', '04/04/2016', '04/13/2016', '04/29/2016', '05/19/2016', '07/22/2016', '07/30/2016', '08/05/2016', '08/31/2016', '10/24/2016', '11/28/2016', '12/03/2016', '12/07/2016', '12/18/2016', '12/20/2016', '12/25/2016', '01/16/2017', '02/21/2017', '03/10/2017', '03/27/2017', '05/05/2017', '05/27/2017', '06/07/2017', '06/28/2017', '07/10/2017', '09/30/2017', '10/12/2017', '10/14/2017', '11/15/2017', '12/13/2017', '12/31/2017', '01/29/2018', '02/10/2018', '02/11/2018', '02/18/2018', '03/06/2018', '03/11/2018', '03/12/2018', '04/11/2018', '04/17/2018', '05/02/2018', '05/18/2018', '07/10/2018', '08/04/2018', '09/28/2018', '10/29/2018', '11/06/2018', '01/14/2019', '02/23/2019', '03/09/2019', '03/10/2019', '04/16/2019', '05/05/2019', '05/05/2019', '06/03/2019', '07/30/2019']

In [17]:
#convert dates to UTC
UTC = []
for date in dates:
    t =datetime.strptime(date, "%m/%d/%Y")
    t =time.mktime(t.timetuple())
    UTC.append(int(t))

In [18]:
# Display reasults
x["Utc"]= UTC
x= x[['Date', 'Utc','Location', 'City', 'Aboard', 'Fatalities', 'Summary', 'Year']]
x

,Date,Utc,Location,City,Aboard,Fatalities,Summary,Year
Crash Id,,,,,,,,
0,01/02/1980,315640800,Haiti,Haiti,9.0,9.0,Struck high ground in poor visibility while en...,1980
1,01/11/1980,316418400,Atlantic Ocean,Atlantic Ocean,2.0,2.0,The plane was on a 45 minute fight from Shreve...,1980
2,01/14/1980,316677600,"Shungnak, Alaska",Shungnak,9.0,7.0,Crashed. Continued VFR flight into adverse wea...,1980
3,01/21/1980,317282400,"Elburz Mtns., Tehran, Iran",Elburz Mtns.,128.0,128.0,The aircraft crashed into a mountain during a ...,1980
4,01/23/1980,317455200,"Mt. Cemonyet, Indonesia",Mt. Cemonyet,13.0,13.0,"Hit high ground at 2,700 ft. in poor weather w...",1980
...,...,...,...,...,...,...,...,...
1915,04/16/2019,1555390800,"Puerto Montt, Chile",Puerto Montt,6.0,6.0,"While the aircraft was in the initial climb, p...",2019
1916,05/05/2019,1557032400,"Monclava, Mexico",Monclava,13.0,13.0,The aircraft crashed while en route on a retur...,2019
1917,05/05/2019,1557032400,"Moscow, Russia",Moscow,78.0,41.0,Forty-five minutes after taking off from Mosco...,2019
1918,06/03/2019,1559538000,"Lipo, India",Lipo,13.0,13.0,Crashed about 34km WNW of Mechuka.,2019
1919,07/30/2019,1564462800,"Rawalpindi, India",Rawalpindi,5.0,5.0,"The Pakistani military plane, on a training fl...",2019

In [19]:
#update city column from exported csv.
y = pd.read_csv('year.csv')
x['City']= y.City
x

,Date,Utc,Location,City,Aboard,Fatalities,Summary,Year
Crash Id,,,,,,,,
0,01/02/1980,315640800,Haiti,Port au Prince,9.0,9.0,Struck high ground in poor visibility while en...,1980
1,01/11/1980,316418400,Atlantic Ocean,Baton Rouge,2.0,2.0,The plane was on a 45 minute fight from Shreve...,1980
2,01/14/1980,316677600,"Shungnak, Alaska",Shungnak,9.0,7.0,Crashed. Continued VFR flight into adverse wea...,1980
3,01/21/1980,317282400,"Elburz Mtns., Tehran, Iran",Elburz Mtns.,128.0,128.0,The aircraft crashed into a mountain during a ...,1980
4,01/23/1980,317455200,"Mt. Cemonyet, Indonesia",Mt. Cemonyet,13.0,13.0,"Hit high ground at 2,700 ft. in poor weather w...",1980
...,...,...,...,...,...,...,...,...
1915,04/16/2019,1555390800,"Puerto Montt, Chile",Puerto Montt,6.0,6.0,"While the aircraft was in the initial climb, p...",2019
1916,05/05/2019,1557032400,"Monclava, Mexico",Monclava,13.0,13.0,The aircraft crashed while en route on a retur...,2019
1917,05/05/2019,1557032400,"Moscow, Russia",Moscow,78.0,41.0,Forty-five minutes after taking off from Mosco...,2019
1918,06/03/2019,1559538000,"Lipo, India",Lipo,13.0,13.0,Crashed about 34km WNW of Mechuka.,2019
1919,07/30/2019,1564462800,"Rawalpindi, India",Rawalpindi,5.0,5.0,"The Pakistani military plane, on a training fl...",2019

In [20]:
#converting UTC to date time example
pd.to_datetime(1490195805, unit='s')

Timestamp('2017-03-22 15:16:45')

In [40]:
#Selected random US cities for data frame
cit = pd.read_csv('selected_cities.csv').dropna()
cit

,Crash Id,Date,Location,City,Aboard,Fatalities,Summary,Year
0,41.0,11/28/1980,"Pecos City, Texas",Pecos City,2.0,2.0,The cargo plane entered a steep bank shortly a...,1980.0
1,48.0,2/11/1981,"White Plains, New York",White Plains,8.0,8.0,"Crashed in rain, fog, windshear. Pilot distra...",1981.0
2,108.0,3/19/1982,"Woodstock, Illinois",Woodstock,27.0,27.0,Crashed 40 miles northwest of Chicago O'Hare A...,1982.0
3,150.0,1/11/1983,"Detroit, Michigan",Detroit,3.0,3.0,After taking off the cargo plane rolled to the...,1983.0
4,216.0,6/19/1984,"Island Beach, New Jersey",Island Beach,3.0,3.0,The on-demand air taxi flight departed for gar...,1984.0
5,249.0,1/20/1985,"Carson, New Mexico",Carson,3.0,3.0,The helicopter crashed in open terrain during ...,1985.0
6,308.0,3/13/1986,"Alpena, Michigan",Alpena,9.0,3.0,"After a missed approach due to bad weather, th...",1986.0
7,354.0,1/15/1987,"Salt Lake City, Utah",Salt Lake City,10.0,10.0,"Midair collision with a Mooney M-20 at 7,000 f...",1987.0
8,414.0,2/19/1988,"Cary, North Carolina",Cary,12.0,12.0,The plane crashed into a reservoir shortly aft...,1988.0
9,470.0,1/31/1989,"Abilene, Texas",Abilene,19.0,19.0,Crashed in flames after taking off from Dyess ...,1989.0
10,555.0,1/17/1990,"Leadville, Colorado",Leadville,1.0,1.0,"The cargo plane crashed into a 14,200 ft. Moun...",1990.0
11,619.0,2/17/1991,"Cleveland, Ohio",Cleveland,2.0,2.0,The cargo plane stalled during takeoff cart wh...,1991.0
12,686.0,2/15/1992,"Toledo, Ohio",Toledo,4.0,3.0,After a missed approach by the copilot the cap...,1992.0
13,762.0,4/1/1993,"Blountville, Tennesee",Blountville,4.0,4.0,The Hooters Restaurant private plane crashed 0...,1993.0
14,805.0,1/7/1994,"Columbus, Ohio",Columbus,8.0,5.0,The aircraft stalled 1.2 miles east of runway ...,1994.0
15,881.0,1/14/1995,"Los Angeles, California",Los Angeles,4.0,2.0,Took off and crashed into power lines in rain ...,1995.0
16,955.0,4/11/1996,"Cheyenne, Wyoming",Cheyenne,3.0,3.0,"Seven- year-old trainee pilot, Jessica Dubroff...",1996.0
17,1007.0,1/9/1997,"Monroe, Michigan",Monroe,29.0,29.0,While on approach and attempting to land on ru...,1997.0
18,1081.0,5/25/1998,"Indian Trail, North Carolina",Indian Trail,5.0,5.0,The helicopter's skids contacted a high-tensio...,1998.0
19,1142.0,6/1/1999,"Little Rock, Arkansas",Little Rock,145.0,11.0,The plane was on a flight from Dallas/Fort Wor...,1999.0
20,1190.0,2/16/2000,"Sacramento, California",Sacramento,3.0,3.0,The cargo plane lost altitude after taking off...,2000.0
21,1248.0,1/23/2001,"Eider Point, Alaska",Eider Point,2.0,2.0,The cargo plane crashed on Table Top Mountain ...,2001.0
22,1354.0,12/17/2002,"Rockford, Illinois",Rockford,1.0,1.0,"While attempting to land, the cargo plane stru...",2002.0
23,1376.0,5/28/2003,"Talkeetna, Alaska",Talkeetna,4.0,4.0,The airplane was destroyed during a collision ...,2003.0
24,1426.0,3/16/2004,"Tonopah, Nevada",Tonopah,5.0,5.0,While on approach and during a turn the pilot ...,2004.0
25,1469.0,1/13/2005,"Keene, New Hampshire",Keene,1.0,1.0,The cargo plane diverted to Keene due to poor ...,2005.0
26,1517.0,2/5/2006,"Watertown, Wisconson",Watertown,3.0,3.0,The cargo plane was on a test flight. While fl...,2006.0
27,1555.0,3/8/2007,"Princeville, Hawaii",Princeville,7.0,4.0,The helicopter crashed on Kauai shortly after ...,2007.0
28,1556.0,3/11/2007,"Hanea, Kauai, Hawaii",Hanea,5.0,1.0,The helicopter was flying low near the coast w...,2007.0
29,1612.0,6/8/2008,"Huntsville, Texas",Huntsville,4.0,4.0,The medical helicopter crashed into the Sam Ho...,2008.0
30,1646.0,1/15/2009,"New York, New York",New York,155.0,0.0,The plane was taking off from La Guardia Airpo...,2009.0
31,1686.0,11/14/2009,"Reno, Nevada",Reno,3.0,3.0,The medical helicopter crashed and burned abou...,2009.0
32,1709.0,8/9/2010,"Dillingham, Alaska",Dillingham,9.0,5.0,"The floatplane, carrying passengers to a fishi...",2010.0
33,1755.0,9/16/2011,"Reno, Nevada",Reno,1.0,1.0,The pilot of the aircraft participating in an ...,2011.0
34,1766.0,3/15/2012,"San Juan, Puerto Rico",San Juan,2.0,2.0,The cargo plane just took off and was carrying...,2012.0
35,1796.0,3/8/2013,"Dillingham, Alaska",Dillingham,2.0,2.0,The cargo plane crashed about 20 miles northea...,2013.0
36,1836.0,10/4/2014,"Wichita Falls, Texas",Wichita Falls,4.0,2.0,The air ambulance crashed while transporting a...,2014.0
37,1849.0,9/15/2015,"Iliamna East Wind Lake, Alaska",Iliamna East Wind Lake,7.0,3.0,"While on the way to a remote fishing site, the...",2015.0
38,1865.0,4/4/2016,"Pigeon Forge, Tennessee",Pigeon Forge,5.0,5.0,The helicopter crashed in a wooded hillside wh...,2016.0
39,1884.0,5/5/2017,"Charleston, West Virginia",Charleston,2.0,2.0,The cargo plane was destroyed when it crashed ...,2017.0
40,1904.0,5/2/2018,"Port Wentworth, Georgia",Port Wentworth,9.0,9.0,A Porto Rico Air National Guard plane crashed ...,2018.0
41,1912.0,2/23/2019,"Houston, Texas",Houston,3.0,3.0,ATC lost radar contact with the cargo jet when...,2019.0

In [36]:
#Pull data from underground weather
weather = pd.read_csv('weather.csv')
weather

,date,city,temp,pressure,humidity,wind_speed,weather_summary,visibility,cloudiness
0,11/28/1980,"Pecos City, TX",44.25,27.17,41,17,Fair,20,False
1,3/21/1980,"Houston, TX",57.89,30.22,33,21,Fair,15,False
2,6/12/1980,"Valley, NE",65.11,28.99,76,22,Mostly Cloudy,10,True
3,2/11/1981,"White Plains, NY",38.92,29.92,90,20,cloudy,10,True
4,1/11/1983,"Detroit, MI",32.18,29.10,76,16,cloudy,15,True
5,12/3/1990,"Romulus, MI",22.02,29.70,73,28,mostly cloudy,15,True
6,2/17/1991,"Cleveland, OH",23.34,29.12,49,17,cloudy,10,True
7,3/16/1991,"San Diego, CA",51.08,30.11,64,13,fair,20,False
8,3/31/1993,"Anchorage, AK",39.54,29.48,31,21,cloudy,60,True
9,7/12/1993,"Talladega, AL",55.91,29.35,79,9,cloudy,15,True
10,7/14/1994,"Hanalei, HI",72.85,29.91,67,12,cloudy,30,True
11,4/11/1996,"Cheyenne, WY",20.24,28.40,56,23,cloudy,23,True
12,7/6/1996,"Pensacola, FL",85.04,30.12,65,16,fair,10,False
13,11/19/1996,"Quincy, IL",32.68,28.20,70,13,mostly cloudy,15,True
14,4/10/1997,"Anchorage, AK",40.65,29.40,52,12,cloudy,90,True
15,2/16/2000,"Sacramento, California",52.00,29.99,90,12,Cloudy,10,True
16,12/17/2002,"Rockford, Illinois",30.00,29.42,96,12,Cloudy,8,True
17,5/28/2003,"Talkeetna, Alaska",63.00,29.90,56,13,Cloudy,10,True
18,1/13/2005,"Keene, New Hampshire",50.00,30.06,96,14,Cloudy,5,True
19,2/5/2006,"Watertown, Wisconson",31.00,29.07,70,16,Cloudy,10,True
20,6/8/2008,"Huntsville, Texas",85.00,29.64,65,21,Cloudy,10,True
21,1/15/2009,"New York, New York",22.00,30.38,70,17,Cloudy,10,True
22,8/9/2010,"Dillingham, AK",51.67,29.53,88,17,Cloudy,10,True
23,09/16/2011,"Reno, Nevada",36.61,25.50,31,22,Most Cloudy,10,True
24,12/7/2011,"Henderson, Nevada",39.29,28.04,23,7,Fair,10,False
25,3/8/2013,"Dillingham, Alaska",33.17,29.48,93,37,Cloudy,10,True
26,7/6/2013,"San Francisco, California",61.63,29.81,58,17,Fair,10,False
27,7/7/2013,"Soldotna, Alaksa",51.84,29.63,94,15,Cloudy,10,True
28,08/14/2013,"Birmingham, Alabama",75.18,29.34,84,10,Most Cloudy,10,True
29,10/4/2014,"Wichita Falls, Texas",59.83,29.06,26,15,Fair,10,False